<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.xljt.mapper.MClientMapper">
    
    <!-- 分页查询 -->
    <select id="selectClientList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			mcl.client_id clientId,
			mcl.client_name clientName,
			mcl.client_num clientNum,
			mcl.site,
			mcl.client_type clientType,
			mcl.card_num cardNum,
			mcl.create_date createDate,
			mcl.update_date updateDate
			FROM
			m_client AS mcl
			
			WHERE
			1=1
			<if test="null != clientName and '' != clientName">and mcl.client_name =  #{clientName} </if>
	        <if test="null != clientNum  and '' != clientNum" >and mcl.client_num = #{clientNum } </if>
	        <if test="null != site 		 and '' != site"      >and mcl.site = #{site		} </if>
	        <if test="null != clientType and '' != clientType">and mcl.client_type = #{clientType} </if>
	        <if test="null != cardNum 	 and '' != cardNum"   >and mcl.card_num = #{cardNum	} </if>
	        <if test="null != createDate and '' != createDate">and mcl.create_date = #{updateDate} </if>
	        <if test="null != updateDate and '' != updateDate">and mcl.update_date = #{updateDate} </if>
	        
    </select>
    
    <!-- 查询实例 -->
    <select id="selectClient" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
			mcl.client_id clientId,
			mcl.client_name clientName,
			mcl.client_num clientNum,
			mcl.site,
			mcl.client_type clientType,
			mcl.card_num cardNum,
			mcl.create_date createDate,
			mcl.update_date updateDate
			FROM
			m_client AS mcl
			
			WHERE
			1=1
			AND mcl.client_id = #{clientId}
			
    </select>

    <!-- 新增客户 -->
    <insert id="insertClient" parameterType="java.util.Map">
        INSERT INTO m_client ( 
        <if test="null != clientName and '' != clientName"> client_name ,  </if>
        <if test="null != clientNum  and '' != clientNum" >	client_num  ,  </if>
        <if test="null != site 		 and '' != site"      >	site        ,  </if>
        <if test="null != clientType and '' != clientType">	client_type ,  </if>
        <if test="null != cardNum 	 and '' != cardNum"   >	card_num    ,  </if>
        <if test="null != createDate and '' != createDate"> create_date ,  </if>
        <if test="null != updateDate and '' != updateDate"> update_date    </if>
			)
		VALUES
			( 
		<if test="null != clientName and '' != clientName"> #{clientName},  </if>
        <if test="null != clientNum  and '' != clientNum" >	#{clientNum },  </if>
        <if test="null != site 		 and '' != site"      >	#{site		},  </if>
        <if test="null != clientType and '' != clientType">	#{clientType},  </if>
        <if test="null != cardNum 	 and '' != cardNum"   >	#{cardNum	},  </if>
        <if test="null != createDate and '' != createDate"> #{updateDate},  </if>
        <if test="null != updateDate and '' != updateDate"> #{updateDate}   </if>
			)
    </insert>
    <!-- 修改客户 -->
    <update id="updateClient" parameterType="java.util.Map">
        UPDATE m_client 
        	SET
        	<if test="null != clientName and '' != clientName"> client_name = #{clientName}, </if>
        	<if test="null != clientNum  and '' != clientNum" >	client_num = #{clientNum },  </if>
	        <if test="null != site 		 and '' != site"      >	site = #{site		},  </if>
	        <if test="null != clientType and '' != clientType">	client_type = #{clientType},  </if>
	        <if test="null != cardNum 	 and '' != cardNum"   >	card_num = #{cardNum	},  </if>
	        <if test="null != updateDate and '' != updateDate"> update_date = #{updateDate}   </if>
		WHERE client_id = #{clientId}
    </update>
    <!-- 删除客户 -->
    <delete id="deleteClient" parameterType="java.lang.String">
		delete from m_client WHERE client_id = #{clientId}
    </delete>
    
</mapper>